<!DOCTYPE html>
<html>

<head>
  <script src="static/jquery_3.2.1.min.js"></script>
  <script>
  "use strict";
  const STREAM_CTL_URL = 'http://172.24.1.1:5000/start_stream';
  const MOTOR_CTL_URL = 'http://172.24.1.1:5000/move';
  const CAPTURE_URL = 'http://172.24.1.1:5000/capture';
  const STREAM_URL = 'http://172.24.1.1:8080/?action=stream';

  function start_stream(width=1280, height=720, fps=10, sharpness=0, contrast=0, brightness=50, saturation=0){
    $.ajax({
      url: STREAM_CTL_URL,
      data: {
        width: width,
        height: height,
        fps: fps,
        sharpness: sharpness,
        contrast: contrast,
        brightness: brightness,
        saturation: saturation,
      },
      success: function(){
        load_stream();
      },
      error: function(){
        alert('Could not restart stream with new parameters');
      }
    });
  }

  function load_stream(width=1280, height=720, fps=10){
    $('#stream_container').empty()
      .append(`<img id="stream" width="${width}" height="${height}" src="${STREAM_URL}" />`);
  }

  function capture_url(sharpness=0, contrast=0, brightness=50, saturation=0){
    // Returns the URL that you need to go to to capture and download an image.
    return `${CAPTURE_URL}?sharpness=${sharpness}&contrast=${contrast}&brightness=${brightness}&saturation={saturation}`;
  }

  function create_capture_link(){
    $('#capture_link_container').empty()
      .append(`<a href="${capture_url()}" />`);
  }

  function move(x=0, y=0 , z=0){
    $.ajax({
      url: WS_MOTOR_CTL_URL,
      data: {
        x: x,
        y: y,
        z: z,
      },
      error: function(){
        alert('Error when attempting to move motors');
      }
    });
  }

  
  // Execute this when document has loaded
  $(function(){
    load_stream();
    create_capture_link();
  });
  </script>
  <title>WaterScope</title>
</head>

<body>
  <div id="stream_container">
  </div>
  <div id="capture_link_container">
  </div>
</body>

</html>
